.jumbotron
  %h1 gCamp
  %br
  %p Your life organized.

.row
  .col-md-4
    = image_tag "team.jpg", class: "img-responsive"
    %br
    .panel.panel-primary
      .panel-heading
        %h3.panel-title Tasks
      .panel-body
        %p Grouped by projects and lists. Just the way you like'em.
  .col-md-4
    = image_tag "people_table.jpg", class: "img-responsive"
    %br
    .panel.panel-primary
      .panel-heading
        %h3.panel-title Documents
      .panel-body
        %ul
          %li Upload
          %li Comment
          %li Revise
  .col-md-4
    = image_tag "woman_laptop.jpg", class: "img-responsive"
    %br
    .panel.panel-primary
      .panel-heading
        %h3.panel-title Comments
      .panel-body
        %ul
          %li Comment on tasks and documents
          %li Get email notifications
